.header-nav,
.header-sticky-top,
.navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.header-sticky-top {
    filter: drop-shadow(0 0 5px rgba(0,0,0, 0.2));
}

.section-sm {
    padding: 45px 0 45px 0 !important;
}

.single-post-author .media {
    background-color: #f5f5f5;
    padding: 25px;
    padding-bottom: 0;
    border-radius: 10px;
}

.footer-main {
    background-color: #D4EDF2;
    padding: 40px 0;
}
.footer-meta{
    background-color: #da2323;
}
.attribution,
.attribution a {
    color: rgba(255, 255, 255, .7);
}

.jobs-callout .la-angle-right {
    vertical-align: middle;
}

.social-links.icon-box li a {
    border: none !important;
}
.social-links.icon-box li a:hover {
    background-color: transparent;
}

.post-meta-tags a {
    background-color: #D4EDF2 !important;
}

/* make styles a bit more friendly on small screens */
@media (max-width: 767px) {
    header .navbar-brand img {
        height: auto !important;
    }
    .single-post-author {
        margin-top: 45px !important;
    }
    .single-post-meta {
        margin-top: 35px !important;
    }
}
